* {
       box-sizing: border-box;   
       font-family: 'Courier New', Courier, monospace; 
}

h1 {
    background-color: #78777720;
    color: rgb(7, 49, 164);
    padding: 20px 10px;
    margin-bottom: 5px;
}

#input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

select:hover{
    box-shadow: 2.5px 2.5px 5px gray;
}

select {
  width: 100%;
  padding: 5px;   
  margin: 5px 0;   
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 1em;
}

.business, .review-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}


section {
  width: 100%;
  border: 1px solid black;
  float: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  background-color: rgba(0, 145, 255, 0.607);
}

@media (min-width: 768px) {
  section {
    width: 50%;
    margin-bottom: 5px;
  }
  .businesses {
    float: right;
  }

}

/* Desktop: 3 columns */
@media (min-width: 1024px) {
  section {
    width: 33.33%;
  }
  .businesses {
    float:left;
  }
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}


